<h1>New Student</h1>

<%= simple_form_for(@student) do |f| %>
  <div class="row"><%= f.input :name, placeholder: "Enter student name" %></div>
  <div class="row"><%= f.input :monthly_lessons %></div>
  <div class="row">
    <div class="col-6"><%= f.input :language %></div>
    <div class="col-6"><%= f.input :level %></div>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
