<nav class="navbar navbar-inverse mark-list">
  <div class="container-fluid justify-content-between">
    <%= link_to students_path do %>
      <i class="fa-solid fa-arrow-left-long fa-lg"></i>
    <% end %>
    <h2 class="title-text"><%= @student.name.capitalize %></h2>

    <li class="nav-item dropdown">
      <button class="dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa-solid fa-gear"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%= link_to new_student_payment_path(@student), class:"dropdown-item" do %>
          <i class="fa-regular fa-money-bill-1" style="color: #118f00;"></i> Add Payment
        <% end %>
        <%= link_to student_student_payment_index_path(@student), class:"dropdown-item" do %>
          <i class="fa-regular fa-money-bill-1" style="color: #118f00;"></i> View Payments
        <% end %>
        <%= link_to edit_student_path(@student), class:"dropdown-item" do %>
          <i class="fa-solid fa-pen-to-square fa-lg"></i> Edit
        <% end %>
        <%= link_to student_path(@student), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class:"dropdown-item" do %>
          <i class="fa-solid fa-trash-can fa-lg" style="color: #c30404;"></i> Delete
        <% end %>
      </div>
    </li>
  </div>
</nav>

<div class="container info-student">
  <div class="card my-5 card-list">
    <div class="row mt-2">
      <div class="col-12">
        <div class="mx-3">
        <p><strong>Monthly Lessons: </strong><%= @student.monthly_lessons %></p>
        <p><strong>language: </strong><%= Student.languages[@student.language] %></p>
        <p><strong>Level: </strong><%= Student.levels[@student.level] %></p>
        </div>
      </div>
    </div>
  </div>
</div>



<!--
<% @student_lessons.each_with_index do |student_lesson, index| %>
  <div>
    <% if @student_classes_given[index] %>
      <input type="checkbox" id="<% index %>" class="class-given checked" checked />
    <% else %>
      <input type="checkbox" id="<% index %>" name="lesson-<% index %>" class="class-given" value="lesson-<% index %>" />
    <% end %>
    <label for="<% index %>">Aula <%= index + 1 %></label>
  </div>

<% end %>
<button class="btn btn-primary save" id="save">Salvar</button>

<%= link_to "back", students_path, class: "btn btn-primary" %>


<script>
  const saveClassGivenBtn = document.querySelector('.save')

  const checkBoxesInput = document.querySelectorAll('.class-given')

  checkBoxesInput.forEach((checkBoxInput) => {
    checkBoxInput.addEventListener('click', (event) => {
      event.preventDefault()
      console.log(event.target.classList)
      // event.target.classList.toggle('checked')
    })
  })

  if(saveClassGivenBtn){
    saveClassGivenBtn.addEventListener('click', (event) => {
      event.preventDefault()
      const classGivenCheckBoxes = document.querySelectorAll('.checked')
      console.log(classGivenCheckBoxes.length)
    })
  }
</script>
-->
