<h1>New Payment</h1>

<%= simple_form_for [@student, @payment] do |f| %>
  <div class="row"><%= f.input :price %></div>
  <div class="row"><%= f.input :month %></div>
  <%= f.submit class: 'btn btn-success' %>
<% end %>
<%= link_to 'Back', student_path(@student), class: "btn btn-primary mt-2" %>
