<div class="container">
  <h1 class="title-text">New Payment</h1>

  <%= simple_form_for [@student, @payment] do |f| %>
    <div class="row student-text"><%= f.input :price %></div>
    <div class="row student-text"><%= f.input :month, collection: Payment.months.values %></div>
    <%= f.submit class: 'btn btn-success' %>
  <% end %>
  <%= link_to 'Back', student_path(@student), class: "btn btn-primary mt-2" %>
</div>
