<!DOCTYPE html>
<html>
  <head>

    <link rel="icon" href="app/assets/images/logo.ico" type="image/x-icon">
    <title>EasyPeasy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body><%= render "shared/navbar" %>
    <%# render "shared/flashes" %>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert" style="background-color: #f2abab;">
        <%= value %>
      </div>
    <% end %>

    <script>
      const alerts = document.querySelectorAll('.alert');
      alerts.forEach(function(alert) {
        setTimeout(function() {
          alert.classList.add('fade-out');
        }, 2000); // 2000ms = 2 seconds
      });
    </script>

    <%= yield %>
  </body>
</html>
